In [29]:
import numpy as np
import pandas as pd

In [32]:
data = pd.read_csv('data/president_heights.csv')

In [33]:
data.head(4)

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163

In [38]:
heights = np.array(data['height(cm)'])
heights

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180,
       183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188,
       188, 182, 185])

In [39]:
print("mean height: ", heights.mean())

mean height:  179.73809523809524

In [ ]:
print("standard division")