In [1]:
# 필요한 Module을 Import 하세요

### 1. concat을 사용하여 A, B를 행으로 합쳐보세요. (A 밑으로 B가 오게)

In [2]:
# 아래 코드를 실행하여 데이터셋을 준비하세요
A= pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

B= pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [3]:
# 정답 Code

In [4]:
# 아래와 같은 형태가 나와야합니다.

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### 2. merge를 사용하여 A,B를 key 기준으로 합쳐보세요.

In [5]:
# 아래 코드를 실행하여 데이터셋을 준비하세요
A = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
B = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [6]:
# 정답 Code

In [7]:
# 아래와 같은 형태가 나와야합니다.

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

### 3. join을 사용하여 A와 B를 합쳐보세요. (key는 인덱스로 별도로 지정해주셔야합니다)

In [8]:
# 아래 코드를 실행하여 데이터셋을 준비하세요
A = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': [0,3,2,5],
                     'B': [10,54,23,22]})
   
B = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': [3,6,9,11],
                          'D': [30,22,11,5]})

In [9]:
# 정답 Code

In [10]:
# 아래와 같은 형태가 나와야합니다.

     A   B   C   D
key
K0   0  10   3  30
K1   3  54   6  22
K2   2  23   9  11
K3   5  22  11   5

### 4. 주어진 데이터 파일을 로드하고, Kyphosis 컬럼 기준으로 groupby하여 Age의 평균값을 나타내는 코드를 작성하세요

In [11]:
# 데이터를 불러오세요

In [12]:
# 정답 Code

In [13]:
# 아래와 같은 형태가 나와야합니다.

Kyphosis
absent     79.890625
present    97.823529
Name: Age, dtype: float64