In [1]:
# 필요한 Module을 Import 하세요

In [2]:
# 데이터를 불러오세요

### 1. 'installment'와 'dti' 컬럼을 standard scaler를 통해 변환시키고, 원래 컬럼이름을 가진 DataFrame 형식으로 변환하여 standard라는 이름으로 저장(지정)하세요.

In [3]:
# 정답 Code

In [4]:
# 아래와 같은 형태가 나와야합니다.

      installment       dti
0        2.463099  0.998505
1       -0.438854  0.244540
2        0.230708 -0.141885
3       -0.757022 -0.654697
4       -1.043992  0.343326
...           ...       ...
9573     0.123976 -0.322023
9574    -0.296481 -1.800898
9575    -1.068670  0.070213
9576     0.156914  0.954924
9577     2.580601  0.533633

[9578 rows x 2 columns]

### 2. 'installment'와 'dti' 컬럼을 robust scaler를 통해 변환시키고, 원래 컬럼이름을 가진 DataFrame 형식으로 변환하여 robust라는 이름으로 저장(지정)하세요.

In [5]:
# 정답 Code

In [6]:
# 아래와 같은 형태가 나와야합니다.

      installment       dti
0        2.082400  0.634692
1       -0.151417  0.151339
2        0.363988 -0.096391
3       -0.396331 -0.425146
4       -0.617229  0.214668
...           ...       ...
9573     0.281829 -0.211874
9574    -0.041823 -1.159953
9575    -0.636226  0.039581
9576     0.307183  0.606752
9577     2.172849  0.336671

[9578 rows x 2 columns]

### 3. 'installment'와 'dti' 컬럼을 min max scaler를 통해 변환시키고, 원래 컬럼이름을 가진 DataFrame 형식으로 변환하여 robust라는 이름으로 저장(지정)하세요.

In [7]:
# 정답 Code

In [8]:
# 아래와 같은 형태가 나와야합니다.

      installment       dti
0        0.879888  0.650200
1        0.229916  0.476969
2        0.379883  0.388184
3        0.158653  0.270360
4        0.094378  0.499666
...           ...       ...
9573     0.355977  0.346796
9574     0.261804  0.007009
9575     0.088851  0.436916
9576     0.363354  0.640187
9577     0.906206  0.543391

[9578 rows x 2 columns]

### 4. 변환된 3개의 각기 다른 데이터의  'installment'와 'dti' 평균과 표준편차를 비교해보세요.

In [9]:
# 정답 Code